/* ---------------HOME--------------- */

.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

/* Home Page Card */
.formWrapper {
  background: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%; /* for responsiveness */
}

footer {
  position: fixed;
  bottom: 0;
}

/* to be used later for adding linkedin/github links */
footer a {
  color: #fbde2d;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

/* "Paste invitation Room Id" */
.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee; /* off-white */
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #fbde2d;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #b39d20;
}

/* create new room */
.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

/* new room */
.createNewBtn {
  color: #fbde2d;
  text-decoration: none;
  border-bottom: 1px solid #fbde2d;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #b39d20;
  border-color: #b39d20;
}

/* ---------------EDITOR--------------- */

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #2e2e2e;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
} 